<!DOCTYPE html>
<html lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Reading List</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
	<body onload='document.f.username.focus();'>
		<div id="loginForm">
			<h3>Login With Username and Password</h3>
			<div class="error" th:if="${param.error}">
			  Incorrect username or password. Try again.
			</div>
			
			<form name='f' th:action="@{/login}" method='POST'>
				<table>
					<tr>
						<td>User:</td>
						<td>
							<label for="username">
								<input id="username" type='text' name='username'/>
							</label>
						</td>
					</tr>
					<tr>
						<td>Password:</td>
						<td>
							<label for="password">
								<input id="password" type='password' name='password'/>
							</label>
						</td>
					</tr>
				</table>
				<input class="btn" name="submit" type="submit" value="Login"/>
			</form>
		</div>
	</body>
</html>